body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}
   html, body, #map, .container-fluid{
       height: 100%;
   }

.row2{
  background-color: #06425C;
  height: 5%;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 0px;
  padding-bottom: 0px;
}


.welcome{
  position: relative;
  bottom: 5px;
  text-align: center;
  color: #ffffff;
}

.row{
  /*position: fixed;*/
  height: 100%;
  width: 100%;
  overflow: scroll;
  /*background-color: red;*/
}

.container-fluid{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;

}

.col-md-10{
  background-color: blue;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*width: 100%;*/
}

.col-md-2{
  background-color: #e0e0e0;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


.map {
    position: absolute;
    width: 100%;
    right: 0px;
    left: 0px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: relative;
    height: 100%;
    left: 0px;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 20px;
    padding-bottom: 60px;
    overflow-y: auto;
    /*text-align: center;*/
}

div.info.legend.title.vuln_legend.leaflet-control {
  background: #e0e0e0;
}

.legend {
    line-height: 25px;
    color: #5A5F5C;
}

.legend i {
    width: 20px;
    height: 22px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.box{
  top: 50px;
  font-size: 15px;
  color: #5A5F5C;
}


.info {
    padding: 6px 8px;
    background: #e0e0e0;
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #5A5F5C;
}

.legend.title {
  color: #777;
  font-size: 2vh;
}

.parameters{
  color: #06425C;
  text-align: center;
}

.scroll{
  text-align: center;

}

.reset{
  position: relative;
  align-items: center;
  text-align: center;
  top: 500px;
}

.btn.btn-secondary.dropdown-toggle{
  background-color: #06425C;
  border-color: #06425C;
  color: #fff;
  width: 100%;
  display:block;
}

.btn.btn-secondary.dropdown-toggle:hover{
  background-color: #B7695C;
  border-color: #B7695C;
}


.dropdown{
  position: relative;
  top: 50px;
  display:block;
}

.dropdown-menu {
position: relative;
margin-bottom: 100px;
overflow-y: scroll;
width: 100%;
max-height: 500px;

}


.btn-default{
  background-color: #06425C;
  color: #ffffff;
  border-color: none;
}
.btn-default .btn-sm{
  background-color: #06425C;
  color: #ffffff;
  border-color: none;
}

.btn-default:hover{
  background-color: #B7695C;
  color: #ffffff;
  border-color: none;
}

.btn-info{
  display: block;
  background-color: #B7695C;
  border-color: #B7695C;
  width: 100%;
}

.btn-info:focus{
  background-color: #B7695C;
  border-color: #B7695C;
}

.btn-info:active{
  background-color: #B7695C;
  border-color: #B7695C;
}

.btn-info:hover{
  background-color: #B7695C;
  border-color: #ffffff;
  color: #06425C;
}

.ethnicity{
  position: absolute;
  top: 240px;
  color: #06425C;
  font-size: 18px;
  /*text-align: left;*/
}

.sel-ethnicity{
  color: #B7695C;
  /*font-weight: bold;*/
}

.selectedfactors{
  position: absolute;
  top: 305px;
  color: #06425C;
  font-size: 18px;
  /*text-align: left;*/
}

.sel-factors{
  color: #B7695C;
  /*font-weight: bold;*/
}

.factors{
  position: absolute;
  top: 325px;
  color: #06425C;
  font-size: 18px;
  /*text-align: left;*/
}

.notes{
  position: absolute;
  bottom: 100px
}
p {
  margin: 1.5em 0;
  padding: 0;
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid #7f83a2;
  background: #616161;
  content: "\00a0";
  display: inline-block;
  border-radius: 3px;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {
  background: #B7695C;
  border-radius: 3px;
  color: #000000;
  /*content: "\2713";*/
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.leaflet-popup-content-wrapper {
  background-color: red;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
  visibility: hidden;
}


/*.sidebar-open .sidebar{
  background-color: #057071;
  color: white;
  display: inherit;
  width: 100%;
}

.sidebar-open .map{
  display: none;
}*/

/*@media screen and (min-width: 480px) and (max-width: 800px) {
  .sidebar {
    height: 1000px;
  }
}

@media screen and (max-width: 479px) {
  .map {
    left: 0px;
    width: 100%;
  }
  .row {
    display: none;
  }
  /*#toggle-sidebar {
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 200;
    padding: 6px 10px;
    background-color: #057071;
    border: 0;
    color: #fff;
    display: block;
  }*/









/*.item {
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}

.sort {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 340px;
    background-color: #fff;
    padding: 20px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 0 5px;
}


.navbar-right{
  width: 200px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}*/
